<nav class="navbar navbar-defalt" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:8080/urls">
        <span></span>
        HOME
      </a>
  </div>
</nav>