<nav class="navbar navbar-defalt" role="navigation">
  <span style="float: right;">

    <% if(!user.email){ %>

      <form>
        <button type="Submit">
          <a href="http://localhost:8080/register">Sign In</a>
        </button>

        <button type="Submit">
          <a href="http://localhost:8080/register">Register</a>
        </button>
      </form>


    <% } else{ %>

      <form style="display: inline;" method="POST" action="/logout">
        <h4 style="display: inline; color: white; margin-right: 10px; ">Hello, <%= user.email %></h4>
        <button type="Submit">
          <a>Logout</a>
        </button>
      </form>

      <% } %>

    </span>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:8080/urls">
        TNY
      </a>
  </div>
</nav>

