<!DOCTYPE html>
<html>

<head>
  <style>
  body {
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
  }

  a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
  }

  .container .jumbotron {
    background-color: #1B3D57;
  }

  .container .jumbotron h1 {
    font-family: 'Arvo', sans-serif;
    color: white;
  }

  .container .jumbotron h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  input,
  button,
  select,
  textarea {
    font-family: 'Montserrat', sans-serif;
  }
  </style>
  <title>Tiny App</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body class="container">
  <div class="jumbotron">
    <h1>Welcome to Tiny App</h1>
    <h4>We shorten links so your tiny brain can remember them.</h4>

    <form action="/login" method="POST">
      <h4 style="margin-top: 40px">Login:</h4>
      <input type="email" name="email" placeholder="email@email.com">
      <input type="password" name="password" placeholder="password">
      <button><a>Login</a></button>
    </form>

    <form action="/register" method="POST">
      <h4 style="margin-top: 40px">Create an Account:</h4>
      <input type="email" name="email" placeholder="email@email.com">
      <input type="password" name="password" placeholder="password">
      <button><a>Register</a></button>
    </form>

  </div>
</body>

</html>