<!DOCTYPE html>
<html>

<head>

      <style>

        body {
          padding-top: 80px;
          font-family: 'Montserrat', sans-serif;
        }

        .container .jumbotron h1 {
          font-family: 'Arvo', sans-serif;
        }
        .container .jumbotron h4 {
          font-family: 'Montserrat', sans-serif;
        }

        button {
          font-family: 'Arvo', sans-serif;
        }

        input, button, select, textarea {
          font-family: 'Montserrat', sans-serif;
        }
    </style>


    <title>Tiny App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>
<body class="container">
<div class="jumbotron">
   <header>
     <% include ./partials/_header %>
  </header>
  <h1>Welcome to Tiny App</h1>
  <h4>We shorten links so your tiny brain can remember them.</h4>
      <ul>
        <% for(let shortURL in urls) { %>
          <li>
            <a href="<%= `http://localhost:8080/urls/${shortURL}` %>"><%= `${shortURL}   :  ${urls[shortURL]}` %></a>
          </li>
        <% }; %>
      </ul>

    <input type="text" name="url">
    <button href="#">Shorten Link</button>

  </div>

</body>

</html>