<!DOCTYPE html>
<html>

<head>

      <style>

        body {
        padding-top: 80px;
        font-family: 'Montserrat', sans-serif;
        color: darkslategrey;
    }

    a {
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-decoration: none;
    }

    .container .jumbotron {
        background-color: #1B3D57;
    }

    .container .jumbotron h1 {
        font-family: 'Arvo', sans-serif;
        color: white;
    }

    .container .jumbotron h4 {
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    span,
    input,
    button,
    select,
    textarea {
        font-family: 'Montserrat', sans-serif;
    }

    </style>

    <title>Tiny App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
  <body class="container" style="border-radius: 5px;">
    <div class="jumbotron">
        <header>
            <% include ./partials/_header %>
        </header>
    <h4>We are kidding, we know its for Twitter.</h4>
    <form action="/urls" method="POST" style="margin:40px;">
      <input id="longURL" style= "width: 300px;" type="text" name="longURL" placeholder="Copy & Paste your URL">
      <input type="submit" value="Submit">
    </form>
  </div>
  </body>
</html>